<!DOCTYPE html>
<html>
<head>
    <title>Mirzavaziri Books</title>
</head>
<body>
    <div class="container">
        <div class="table-of-contents">
            <h1>Mirzavaziri Books</h1>
            <p>Coming soon ...</p>
        </div>
    </div>
</body>
</html>