<!DOCTYPE html>
<html>
<head>
    <title>Virgo</title>

    <link href="assets/font/style.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body>
<h2 class="head-title">{{ info.title.fa }}</h2>
<h3>{{ info.author.fa }}</h3>
<h4><span class="h-detail">با صدای </span>{{ info.narrator.fa }}</h4>
<div class="container">
    <div class="sections">
        <div class="section">
            <a class="download" href="{{ pdf_download_url }}" download="virgo.pdf">
                <i class="fa-solid fa-download fa-xl"></i>
            </a>
            <div class="section-title-wrapper">
                <p class="section-title dir-rtl">دانلود PDF</p>
                <p class="section-title">Download PDF</p>
                <p class="section-title">Télécharger le PDF</p>
            </div>
        </div>
        {% for section in info.sections %}
            <div class="section">
                <div class="audio-player-wrapper">
                    <audio class="audio-player" src="{{ section.audio_url }}" controls>
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="section-title-wrapper">
                    <p class="section-title dir-rtl">{{ section.title.fa }}</p>
                    <p class="section-title">{{ section.title.en }}</p>
                    <p class="section-title">{{ section.title.fr }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="foot">
    <div>
        <h2 class="foot-title">{{ info.title.en }}</h2>
        <h3>{{ info.author.en }}</h3>
        <h4><span class="h-detail">Narrated By </span>{{ info.narrator.en }}</h4>
    </div>
    <img class="virgo" src="assets/img/virgo.png">
</div>
<script src="https://kit.fontawesome.com/a6e81e2a85.js" crossorigin="anonymous"></script>
</body>
</html>